<section class="contenedor">
    <ng-container *ngIf="listMovimientos.length > 0; then dataMain; else noDataMain"></ng-container>
    <ng-template #dataMain>
        <div class="contenedor__table" [ngStyle]="{'min-height': listMovimientos.length > 0 ? '100px' : '300px'}">
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px;">Fecha del movimiento</th>
                        <th style="width: 200px;">Tipo de movimiento</th>
                        <th style="width: 200px;">Ingreso</th>
                        <th style="width: 200px;">Egreso</th>
                        <th style="width: 200px;">¿Quien realizo el movimiento?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listMovimientos">
                        <td>{{ item.fechaVenta }}</td>
                        <td>{{ item.fkTipoVenta }}</td>
                        <td>{{ "$" + item.ingreso }}</td>
                        <td>{{ "$" + item.egreso }}</td>
                        <td>
                            {{ item.fkVendedor }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="paginador">
            <span>Usuarios activos: <span>{{ pageSize > listMovimientos.length ? listMovimientos.length :
                    pageSize}}</span>/{{listMovimientos.length}}</span>
            <mat-paginator [length]="listMovimientos.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
                <!-- (page)="getListUser()" -->
            </mat-paginator>
        </div>
    </ng-template>

    <ng-template #noDataMain>
        <div class="no__hay-datos">
            <img src="../../../../assets/icons/table/vacio.svg" alt="">
        </div>
    </ng-template>
</section>