<section class="contenedor">

    <div class="contenedor__btn-agregar">
        <button class="btn__agregar" (click)="postInventario()">
            Agregar
            <div class="contenedor__svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <g clip-path="url(#clip0_58_750)">
                        <path
                            d="M11.0589 1.84314C5.97189 1.84314 1.84326 5.97177 1.84326 11.0588C1.84326 16.1459 5.97189 20.2745 11.0589 20.2745C16.146 20.2745 20.2746 16.1459 20.2746 11.0588C20.2746 5.97177 16.146 1.84314 11.0589 1.84314ZM15.6668 11.9804H11.9805V15.6667H10.1374V11.9804H6.4511V10.1373H10.1374V6.45098H11.9805V10.1373H15.6668V11.9804Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_58_750">
                            <rect width="22.1176" height="22.1176" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </button>
    </div>

    <div class="cont__form">
        <div class="form__icono">
            <div class="icono__fondo">
                <img src="../../../../assets/icons/inventario/not-found-product.svg" alt="">


                <div class="icono__img-plus">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                </div>
            </div>

            <nz-qrcode nzValue="https://ng.ant.design/"></nz-qrcode>
        </div>
        <form [formGroup]="formInventario">
            <div class="contenedor__form-input">
                <div class="contendor__input">
                    <label for="" class="label__title">Nombre del producto
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="text" class="input__form" formControlName="nombre" placeholder="Ingrese un nombre">
                </div>
                <div class="contendor__input">
                    <label for="" class="label__title">Codigo del producto
                    </label>
                    <input type="text" class="input__form" formControlName="codigo" placeholder="Ingrese un codigo">
                </div>
            </div>
            <div class="contenedor__form-input">
                <div class="contendor__input">
                    <label for="" class="label__title">Categoria del producto
                        <span class="obligatorio">*</span>
                    </label>
                    <nz-select nzPlaceHolder="Seleccione las localidades" nzPlaceHolder="Seleccione una categoria" formControlName="fkCategoria">
                        <nz-option [nzDisabled]="true" [nzValue]="undefined"
                            nzLabel="Seleccione una categoria"></nz-option>
                        <nz-option [nzValue]="item.id" [nzLabel]="item.nombre" *ngFor="let item of listCategoria"></nz-option>
                    </nz-select>
                </div>
                <div class="contendor__input">
                    <label for="" class="label__title">Proveedor del producto
                        <span class="obligatorio">*</span>
                    </label>
                    <nz-select nzPlaceHolder="Seleccione las localidades" nzPlaceHolder="Seleccione un proveedor" formControlName="fkProveedor">
                        <nz-option [nzDisabled]="true" [nzValue]="undefined"
                            nzLabel="Seleccione un proveedor"></nz-option>
                            <nz-option [nzValue]="item.id" [nzLabel]="item.nombre" *ngFor="let item of listProveedor"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div class="contenedor__form-input">
                <div class="contendor__input">
                    <label for="" class="label__title">Rango de vencimiento del producto
                        <span class="obligatorio">*</span>
                    </label>
                    <nz-range-picker formControlName="rango"></nz-range-picker>

                </div>
                <div class="contendor__input">
                    <label for="" class="label__title">Costo del producto del proveedor
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="number" class="input__form" formControlName="costoProveedor" placeholder="$">
                </div>
            </div>
            <div class="contenedor__form-input">
                <div class="contendor__input">
                    <label for="" class="label__title">Cantidad del producto
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="number" class="input__form" formControlName="cantidadProveedor" placeholder="$">
                </div>
                <div class="contendor__input">
                    <label for="" class="label__title">Valor de venta del producto
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="number" class="input__form" formControlName="valorVenta" placeholder="$">
                </div>
            </div>
            <div class="contenedor__form-input">
                <div class="contendor__input">
                    <label for="" class="label__title">Descripción del producto
                        <span class="obligatorio">*</span>
                    </label>
                    <textarea nz-input rows="4" formControlName="descripcion" placeholder="Ingrese una descripcion">
                    </textarea>
                </div>
            </div>

            <nz-divider></nz-divider>

            <span class="valor-pagar">
                Ganancia total: $
                {{
                (formInventario.value.valorVenta * formInventario.value.cantidadProveedor)
                -
                (formInventario.value.costoProveedor * formInventario.value.cantidadProveedor)
                }}
            </span>
        </form>
    </div>
</section>