<div class="contenedor__btn-agregar">
  <button class="btn__agregar" type="submit" (click)="postInventarioUpdate()">
    Modificar
    <div class="contenedor__svg">
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
        <g clip-path="url(#clip0_58_750)">
          <path
            d="M11.0589 1.84314C5.97189 1.84314 1.84326 5.97177 1.84326 11.0588C1.84326 16.1459 5.97189 20.2745 11.0589 20.2745C16.146 20.2745 20.2746 16.1459 20.2746 11.0588C20.2746 5.97177 16.146 1.84314 11.0589 1.84314ZM15.6668 11.9804H11.9805V15.6667H10.1374V11.9804H6.4511V10.1373H10.1374V6.45098H11.9805V10.1373H15.6668V11.9804Z"
            fill="white" />
        </g>
        <defs>
          <clipPath id="clip0_58_750">
            <rect width="22.1176" height="22.1176" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>
  </button>
</div>
<section class="contenedor">
  <div class="cont__form">
    <form [formGroup]="formsInventario">
      <div class="contenedor__form-input">
        <div class="contendor__input">
          <label for="" class="label__title">Rango de vencimiento del producto</label>
          <nz-range-picker formControlName="rango"></nz-range-picker>

        </div>
        <div class="contendor__input">
          <label for="" class="label__title">Costo del producto del proveedor</label>
          <input type="number" class="input__form" formControlName="costoProveedor" placeholder="$">
        </div>
      </div>
      <div class="contenedor__form-input">
        <div class="contendor__input">
          <label for="" class="label__title">Cantidad del producto</label>
          <input type="number" class="input__form" formControlName="cantidadProveedor"
            placeholder="Ingrese su primer nombre">
        </div>
        <div class="contendor__input">
          <label for="" class="label__title">Valor de venta del producto</label>
          <input type="number" class="input__form" formControlName="valorVenta" placeholder="$">
        </div>
      </div>
      <nz-divider></nz-divider>
      <span class="valor-pagar">
        Ganancia total: $
        {{
        (formsInventario.value.valorVenta * formsInventario.value.cantidadProveedor)
        -
        (formsInventario.value.costoProveedor * formsInventario.value.cantidadProveedor)
        }}
      </span>
    </form>
  </div>
</section>