<section class="contenedor">
    <div class="cont__form">
        <form>
            <div class="contenedor__form-input">
                <div class="contendor__input">
                    <label for="" class="label__title">Rango de vencimiento del producto</label>
                    <nz-range-picker></nz-range-picker>

                </div>
                <div class="contendor__input">
                    <label for="" class="label__title">Costo del producto del proveedor</label>
                    <input type="number" class="input__form" placeholder="$">
                </div>
            </div>
            <div class="contenedor__form-input">
                <div class="contendor__input">
                    <label for="" class="label__title">Cantidad del producto</label>
                    <input type="number" class="input__form" placeholder="Ingrese su primer nombre">
                </div>
                <div class="contendor__input">
                    <label for="" class="label__title">Valor de venta del producto</label>
                    <input type="number" class="input__form" placeholder="$">
                </div>
            </div>
            <nz-divider></nz-divider>
            <span class="valor-pagar">
                Ganancia total: $5.000
            </span>
        </form>
    </div>
</section>